/* ////////loader styling start///// */
.admin-loader {
  z-index: 200;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(
    to left top,
    #009845,
    #24a847,
    #3cb849,
    #51c949,
    #67d949
  );
}

#loader-brand {
  font-size: 100px;
  font-family: "Alfa Slab One", cursive;
  color: wheat;
  letter-spacing: 2px;
  text-shadow: 2px 1px 5px black;

  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#loader-brand-welcome {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.rocket-ico {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#loader-brand-welcome {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 30px;
}
/* ////////loader styling end///// */

body {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-image: linear-gradient(
    to right,
    #c4c4c4,
    #c5c5c5,
    #c6c6c6,
    #c7c7c7,
    #c8c8c8
  );
}

.mid-container {
  width: 97%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

/* ////////left container start////// */
.left-container {
  width: 60%;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.left-upper {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.lft-upper-left {
  width: 60%;
  height: 100%;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.lft-upper-right {
  width: 39%;
  height: 100%;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.upper-lft-mid {
  width: 95%;
  height: 70%;
}

.calender {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(87, 86, 86);
  cursor: pointer;
}

.driver-trips {
  width: 90%;
  height: 80%;
  background-color: crimson;
  display: flex;
  box-shadow: 1px 2px 5px black;
}

.trips-left {
  width: 50%;
  height: 100%;
  background-color: crimson;
  display: flex;
  flex-direction: column;
}

.trips-right {
  width: 50%;
  height: 100%;
}

.fa-user-astronaut {
  text-shadow: 1px 2px 3px black;
}

.left-lower {
  width: 100%;
  height: 69%;
  background-color: #ecf0f1;
  border-radius: 10px;
}
/* //////////left container end///// */

.right-container {
  width: 39%;
  height: 100%;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.right-mid-container {
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 4px black inset;
}

.right-mid-upper {
  width: 100%;
  height: 20%;
  padding-left: 20px;
  border-bottom: 2px dashed black;
}

.right-mid-lower {
  width: 100%;
  height: 80%;
}

.rght-lower-mid {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.rght-lower-mid > section {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

/* //////////////////////////// */
/* signup model styling start */
.signup-model {
  width: 100%;
  height: 80vh;
}

.signup-model-mid {
  width: 99%;
  height: 98%;
  box-shadow: 2px 2px 4px black inset;
  display: flex;
  background-image: linear-gradient(
    to left top,
    #a7fff9,
    #b3faff,
    #d3f2ff,
    #f0eaff,
    #ffe7f8
  );
}

.sp-mld-mid-left {
  width: 45%;
  height: 90%;
}
.sp-mld-mid-right {
  width: 45%;
  height: 90%;
  overflow: auto;
}

.sp-lft-upper {
  width: 100%;
  height: 75%;
}

.sp-lft-lower {
  width: 100%;
  height: 25%;
  font-family: "Lobster", cursive;
  color: #2f3640;
  letter-spacing: 4px;
}

.sp-right-upper {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.sp-right-lower {
  width: 100%;
  height: 10%;
}

.sp-rght-md-form {
  width: 90%;
  height: 98%;
}

#imgSignup {
  animation-name: pulse;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-iteration-count: infinite;
}

.sp-mld-mid-right {
  border-left: 2px dashed #2f3640;
  justify-content: center;
}
/* signup model styling end */
/* //////////////////////////// */
