body {
  padding: 0;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-clm {
  flex-direction: column;
}

.flex-rw {
  flex-direction: row;
}

nav {
  width: 100%;
  position: fixed;
  height: 10vh;
  background-image: linear-gradient(
    to right,
    #494bcb,
    #4e4ed7,
    #5452e3,
    #5a55ef,
    #6058fb
  );
  box-shadow: 2px 2px 10px black;
}

.nav-section {
  width: 20%;
}

.nav-ico {
  cursor: pointer;
  text-shadow: 1px 2px 3px black;
  transition: 0.3s;
}

.nav-ico:hover {
  transition: 0.5s;
  transform: scale(1.2, 1.2);
  /* animation-duration: 1s; */
}

.brand-section {
  width: 25%;
  height: 100%;
  background-color: #3498db;
  border-top-right-radius: 70px;
}
.brand-right {
  width: 100%;
  color: white;
  text-shadow: 2px 3px 5px black;
  /* background-color: crimson; */
}

footer {
  width: 100%;
  position: fixed;
  height: 3vh;
  background-image: linear-gradient(
    to right,
    #494bcb,
    #4e4ed7,
    #5452e3,
    #5a55ef,
    #6058fb
  );
  box-shadow: 2px 2px 10px black;
  bottom: 0px;
}
